/* contact section styling */


.section-contact {
  display: flex;
  flex-direction: column; /* Stack elements vertically */

  & .contact-img {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center;
    margin-bottom: 3.2rem; /* Add margin bottom to create space between image and h1 */

    & img {
      max-width: 100%; /* Ensure the image is responsive */
      height: auto;
    }
  }

  & h1 {
    margin-top: 40px; /* Increase margin from the top */
    margin-bottom: 3.2rem; /* Add margin bottom for space */
    text-align: left; /* Initially left-align the h1 */
    margin-left: 50px; /* Increase margin from the left */
  }

  & .section-form {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    align-items: center; /* Center align the form */

    & form {
      width: 80%; /* Adjust form width */
    }

    & label {
      display: block;
      margin-bottom: 1.2rem;
      text-transform: capitalize;
    }

    & input,
    textarea {
      width: 100%; /* Make input fields full width */
      padding: 0.4rem 0.6rem;
    }
  }

  & .underline {
    width: 80%; /* Match the width of the form */
    border-bottom: 1px solid #000; /* Adjust underline style as needed */
    margin: auto; /* Center the underline */
  }
}

/* Media query for Android mode */
@media screen and (max-width: 768px) {
  .section-contact {
    & h1 {
      text-align: center; /* Center align the h1 in Android mode */
      margin-bottom: 1.6rem; /* Adjust margin for space */
      margin-left: 0; /* Reset left margin for center alignment */
    }
  }
}







* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: 'Tenor Sans', sans-serif;
  color-scheme:#EEF5FF ;
}

:root {
  --bg-color: #EEF5FF;
  --btn-color: #646cff;
  --dark-color: #242424;
  --helper-color: #99b9ff;
}

html {
  font-size: 62.5%;
}

/*? base style */

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  /* min-width: 32rem; */
  min-height: 100vh;
}

 /*?  Help me reach 1 Million subs 👉 https://youtube.com/thapatechnical */

h1 {
  font-size: 4rem;
  line-height: 1.1;
  font-weight: bold;
}

p,
li,
label,
input,
textarea {
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: 0.1rem;
  word-spacing: 0.06rem;
}

a {
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--btn-color);
  text-decoration: inherit;
}

li {
  list-style: none;
}

/*? layout Rule  */

.container {
  max-width: 140rem;
  padding: 4rem 2.4rem;
  margin: 0 auto;
  text-align: left;
}

.grid {
  display: grid;
  gap: 6.4rem;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}

/*? Module Rules / Reusable */
button {
  text-transform: capitalize;
  padding: 1rem 2.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: #646cff;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  border: 2px solid  #0d0d0d !important;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
}

.secondary-btn {
  background-color: #646cff;
  box-shadow:#646cff ;
  margin-left: 3.2rem;
}

/***** Hero Section *****/

.section-hero {
  & .grid {
    align-items: center;
  }

  .hero-content {
    & p {
      margin: 2.4rem 0 4.8rem 0;
      &:first-child {
        margin: 0 0 1.2rem 0;
      }
    }
  }

  .hero-image {
    display: flex;
    justify-content: center;
    & img {
      width: 70%;
      height: auto;
    }
  }
}

/***** End Hero  *****/

/***** analytics Section *****/

.section-analytics {
  margin: 9.6rem 0;

  & .container {
    background-color: var(--bg-color);
    border-radius: 1rem;
  }

  & .grid {
    color: var(--dark-color);

    & .div1 {
      text-align: center;
      border-right: 0.2rem solid var(--dark-color);

      &:last-child {
        border: none;
      }
      & h2 {
        font-size: 4.8rem;
      }
      & p {
        text-transform: capitalize;
      }
    }
  }
}

/*? state rules  */

button:hover {
  box-shadow: inset 0 0 0 0.2rem var(--bg-color);
   border: 0.2rem solid #fff; 
}

a:hover,
a.active {
  color: #535bf2;
}

/* pseduo elements  */
.main-heading {
  position: relative;
  text-transform: capitalize;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 0.5rem;
    background-color: var(--btn-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover,
  a.active {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* error page  */
#error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the height to full viewport height */
}

.content {
  max-width: 70rem;
  text-align: center;
}

.content h2.header {
  font-size: 18vw;
  line-height: 1em;
  animation: animate 10s ease-in-out infinite;
  background: -webkit-repeating-linear-gradient(
    -60deg,
    #71b7e6,
    var(--btn-color),
    #b98acc,
    #ee8176,
    #b98acc,
    var(--btn-color),
    #9b59b6
  );
  background-size: 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
  position: relative;
  -webkit-animation: animate 10s ease-in-out infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.content h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 2rem;
}

.content .btns {
  margin: 25px 0;
  display: inline-flex;
  justify-content: center;
}

.content .btns a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  border: 2px solid var(--btn-color);
  color: var(--btn-color);
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.content .btns a:hover {
  background: var(--btn-color);
  color: #fff;
}


/** -----------------------
** registration section css
** -------------------------  */

.section-registration {
  padding: 0 3.2rem;

  & .container {
    /* background-color: #fff; */
    padding-top: 3.2rem;
    align-items: center;

    & img {
      width: 80%;
      height: auto;
    }
  }

  & .registration-form {
    & label {
      display: block;
      margin: 2.4rem 0 0.8rem 0;
      text-transform: capitalize;
    }
    & input {
      width: 80%;
      padding: 0.6rem 0.6rem;
    }

    & button {
      margin-top: 3.2rem;
      align-items: center;
      margin-left: auto;

    }
  }
}

.adminNav ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.adminContainer {
  display: grid;
  padding-top: 0;
  grid-template-columns: 1fr 3fr;
}

.adminList {
  flex-direction: column;
  list-style-type: none;
}

.adminList li {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

/** -----------------------
** services section css
** -------------------------  */

.section-services {
  & .container:first-child {
    padding: 0;
  }
  & .grid-three-cols {
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;
  }

  & .card {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    border: 0.2rem solid var(--helper-color);

    & .card-img {
      text-align: center;
      & img {
        width: 70%;
        height: auto;
        filter: drop-shadow(0 0 2rem 2rem #ffffff);
        -webkit-filter: drop-shadow(0 0 2rem 2rem #fff);
      }
    }

    & .card-details {
      padding: 2.4rem;

      & .grid p {
        font-size: 1.4rem;
      }

      & h2 {
        font-size: 3.2rem;
        margin: 1.2rem 0 2.4rem 0;
      }
    }
  }
}

/** -----------------------
** media query section css
** -------------------------  */

@media (width <= 998px) {
  .grid-two-cols {
    grid-template-columns: 1fr;
  }

  .section-services {
    & .grid-three-cols {
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    }
  }

  .section-registration {
    & .container {
      & .reg-img img {
        width: 60%;
        height: auto;
      }
    }
  }
}

@media (width <= 798px) {
  html {
    font-size: 56.25%;
  }

  .section-registration {
    & .container {
      & .reg-img img {
        width: 50%;
        height: auto;
      }
    }

    & .registration-form {
      & input {
        width: 100%;
        padding: 0.6rem 0.6rem;
      }
    }
  }
}

/* Home page */
.testimonial-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.testimonial-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  width: 50%;
  max-width: 320px; /* Limit the maximum width of the image */
  margin: 0 auto; /* Center align the image */
}


.content {
  width: 100%;
  max-width: 520px; /* Limit the maximum width of the content */
  margin: 0 auto; /* Center align the content */
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  padding: 20px;
  color: #000; /* Black text color */
}

.testimonial-content img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire space */
}

.content {
  position: absolute;
  text-align: center;
  color: black;
}

.content h1 {
  font-size: 4rem;
}

.content  {
  font-size: 2rem;
}

.white-button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}




/* Join page styling
 */


 .container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.container-title {
  text-align: center;
  padding: 0;
  margin-bottom: 40px;
  font-size: 40px;
  color: #0e0a0a;
  font-weight: 600;
  line-height: 60px;
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 30px;
  justify-items: center; /* Center align the cards */
}

@media screen and (max-width: 991px) {
  .gradient-cards {
    grid-template-columns: 1fr;
    justify-items: center; /* Center align the cards */
  }
}

.card {
  max-width: 550px;
  border: 0;
  width: 100%;
  margin: 0 auto; /* Center align the cards */
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Add box-shadow */
}

.container-card img {
  margin-bottom: 32px;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-green-box::after {
  background: linear-gradient(71deg, #111212, #3da077, #0d1212);
}

.bg-white-box::after {
  background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-yellow-box::after {
  background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
  background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  max-width: 470px;
}

.custom-section {
  background-color: #eaf4f9; /* Change to desired color */
  padding: 60px 0; /* Adjust padding as needed */
  text-align: center; /* Center align the content */
}

.h4 {
  font-size: 2rem;
  color: black;
  margin-bottom: 10px;
}




/* Testimonial section  */



.heading {
  text-align: center;
  color: #454343;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
  z-index: 999;
}
.white-heading{
  color: #ffffff;
}
.heading:after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  height: 40px;
  width: 180px;
  border-radius: 4px;
  transform: translateX(-50%);
  background: url(img/heading-line.png);
  background-repeat: no-repeat;
  background-position: center;
}
.white-heading:after {
  background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
  background-repeat: no-repeat;
  background-position: center;
}

.heading span {
  font-size: 18px;
  display: block;
  font-weight: 500;
}
.white-heading span {
  color: #ffffff;
}
/*-----Testimonial-------*/

.testimonial:after {
  position: absolute;
  top: -0 !important;
  left: 0;
  content: " ";
  background: url(img/testimonial.bg-top.png);
  background-size: 100% 100px;
  width: 100%;
  height: 100px;
  float: left;
  z-index: 99;
}

.testimonial {
  min-height: 375px;
  position: relative;
  background: url(./images/image.png);
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center;
      background-size: cover;
}
#testimonial4 .carousel-inner:hover{
cursor: -moz-grab;
cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
cursor: -moz-grabbing;
cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
left: 0;
margin: 0;
width: 100%;
font-size: 0;
height: 20px;
bottom: 15px;
padding: 0 5px;
cursor: e-resize;
overflow-x: auto;
overflow-y: hidden;
position: absolute;
text-align: center;
white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
padding: 0;
width: 14px;
height: 14px;
border: none;
text-indent: 0;
margin: 2px 3px;
cursor: pointer;
display: inline-block;
background: #ffffff;
-webkit-border-radius: 100%;
border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
padding: 0;
width: 14px;
height: 14px;
border: none;
margin: 2px 3px;
background-color: #9dd3af;
-webkit-border-radius: 100%;
border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
background: #eeeeee;
-webkit-border-radius: 0;
border-radius: 0;
}

.testimonial4_control_button .carousel-control{
top: 175px;
opacity: 1;
width: 40px;
bottom: auto;
height: 40px;
font-size: 10px;
cursor: pointer;
font-weight: 700;
overflow: hidden;
line-height: 38px;
text-shadow: none;
text-align: center;
position: absolute;
background: transparent;
border: 2px solid #ffffff;
text-transform: uppercase;
-webkit-border-radius: 100%;
border-radius: 100%;
-webkit-box-shadow: none;
box-shadow: none;
-webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
left: 7%;
top: 50%;
right: auto;
}
.testimonial4_control_button .carousel-control.right{
right: 7%;
top: 50%;
left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
color: #000;
background: #fff;
border: 2px solid #fff;
}

.testimonial4_header{
top: 0;
left: 0;
bottom: 0;
width: 550px;
display: block;
margin: 30px auto;
text-align: center;
position: relative;
}
.testimonial4_header h4{
color: #ffffff;
font-size: 30px;
font-weight: 600;
position: relative;
letter-spacing: 1px;
text-transform: uppercase;
}

.testimonial4_slide{
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 70%;
margin: auto;
padding: 20px;
position: relative;
text-align: center;
}
.testimonial4_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 136px;
  height: 136px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
  border-radius: 50%;
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide p {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.4;
  margin: 40px 0 20px 0;
}
.testimonial4_slide h4 {
color: #ffffff;
font-size: 22px;
}

.testimonial .carousel {
padding-bottom:50px;
}
.testimonial .carousel-control-next-icon, .testimonial .carousel-control-prev-icon {
  width: 35px;
  height: 35px;
}
/* ------testimonial  close-------*/

/* Pitch Css */
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%; /* Set width to 40% */
  float: center; /* Float the table to the right */
}

#customers td,
#customers th {
  padding: 8px;
  border: 2px solid rgba(0, 0, 0, 0.144); /* Remove border */
}

#customers tr:nth-child(odd) {
  border-bottom: 1px solid rgba(61, 59, 59, 0.767); /* Add border between rows */
}

h3.pitch {
text-align: center;
}
.container.mainclass {
  text-align: center; /* Align content in the center */
}

#customers {
  margin: 0 auto; /* Center the table horizontally */
}






